---
// @ts-ignore
import { Icon } from "astro-icon/components";
import { getMessages, type Locale } from "@/i18n";

interface Props {
  locale: Locale;
}

const { locale } = Astro.props;
const copy = getMessages(locale);
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">{copy.logos.title}</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <Icon class="size-8 md:size-12" name="bx:bxl-twitter" />
    <Icon class="size-8 md:size-12" name="bx:bxl-discord-alt" />
    <Icon class="size-8 md:size-12" name="bx:bxl-telegram" />
    <Icon class="size-8 md:size-16" name="bx:bxs-network-chart" />
    <Icon class="size-8 md:size-16" name="bx:bxs-coin-stack" />
    <Icon class="size-8 md:size-12" name="bx:bxs-bot" />
  </div>
</div>
